/* About Section */
.about {
    background-color: #f5f5f5;
    padding: 40px 0;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

h2 {
    font-size: 28px;
    margin-top: 40px;
}

.about p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.team {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.team-member {
    text-align: center;
    width: 30%;
}

.team-member img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.team-member h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.contact-info {
    background-color: #b5afaf;
    padding: 20px;
    margin-top: 40px;
}

.contact-info h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.contact-info p {
    font-size: 18px;
    margin-bottom: 10px;
}

.contact-info a {
    text-decoration: none;
    color: #d06b5c;
    font-weight: bold;
}

.contact-btn {
    display: inline-block;
    background-color: #604a48;
    color: white;
    padding: 12px 30px;
    font-size: 18px;
    border-radius: 30px;
    text-decoration: none;
    margin-top: 20px;
}


/* Responsive Design */
@media (max-width: 768px) {
    .team {
        flex-direction: column;
        align-items: center;
    }

    .team-member {
        width: 80%;
        margin-bottom: 40px;
    }
}

/* Additional Styles for CTA */
.cta {
    background-color: #f44336;
    color: rgb(50, 45, 45);
    padding: 20px 0;
    text-align: center;
}

.cta h1 {
    font-size: 28px;
    font-weight: 500;
}

.cta-btn {
    padding: 15px 30px;
    background-color: #f44336;
    color: white;
    font-size: 16px;
    border-radius: 25px;
    text-decoration: none;
    margin-top: 20px;
}

.cta-btn:hover {
    background-color: #553838;
}
.container1 {
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.framemap {
    width: 100%;
    height: 100vh;
    text-align: center; /* Horizontally centers the iframe */
    display: flex;
    justify-content: center; /* Vertically centers the iframe */
    align-items: center;
}

.framemap iframe {
    width: 80%;   /* Adjust the width of the iframe */
    height: 80%;  /* Adjust the height of the iframe */
    border: none; /* Optional: removes border around iframe */
    display: block; /* Ensures it's treated as a block element */
    margin: 0 auto; /* Ensures horizontal centering */
}